.App {
  text-align: center;
}

.cell {
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
}

.cell:hover {
  opacity: 0.85;
}

.GameFrame {
  border: 10px solid #bdbdbd;
}

.clock {
  font-size: 30px;
  font-weight: bold;
}

.clockPic {
  font-size: 25px;
}
