body {
  background-color: rgb(240, 240, 240) !important;
}
.App {
  text-align: center;
}

.cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
}

.cell:hover {
  opacity: 0.85;
}

.GameFrame {
  border: 10px solid #bdbdbd;
}

.clock {
  font-size: 20px;
  font-weight: bold;
  min-width: 200px;
}

.my-modal {
  top: -15%;
}

.custom-modal-style {
  height: 450px;
}

.exit {
  max-width: 100px;
}
.admin {
  max-width: 150px;
}

.logo {
  /* position: relative; */
  width: 130px;
  min-width: 130px;
  margin: 0 30px 0 15px;
}

nav {
  width: 100vw;
  height: 90px;
}

/* logo hover */
nav div img:hover {
  transform: scale(0.9, 0.9) !important;
}

/*button click hover effect*/
nav div > *:hover {
  transform: scale(0.9, 0.9) !important;
}

nav {
  background: none;
  display: inline-block !important;
  text-transform: uppercase !important;
  font-family: "Press Start 2P", cursive !important;
  font-size: 1.5vh !important;
}
