.App {
  text-align: center;
}

.cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
}

.cell:hover {
  opacity: 0.85;
}

.GameFrame {
  border: 10px solid #bdbdbd;
}

.clock {
  font-size: 20px;
  font-weight: bold;
  min-width: 200px;
}

.my-modal {
  top: -15%;
}

.custom-modal-style {
  height: 450px;
}
